{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
    <div class="container m-20 row j-center" style="margin-top:20px">
        <div id="info" class="info">
            <div class="prag-hub hidden-para">
                <div class="btn-hid-para" >Paragraphs :</div>
                <ul class="prag-list">
                    {% for p in article.paragraph_set.all %}
                        <li><a href="#para-{{article.slug}}{{p.id}}"># {{p.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="comment-title">Comments :</div>
            <div class="comment-list">
                
                <div class="co-hub">
                    {% for comment in article.comment_set.all %}
                    <div class="comment-cart">
                        <div class="comment-info">
                            <a href="#"><img src="{% static 'images/user.png' %}" alt="" class="user-image">
                            {{comment.user.username}}</a>
                        </div>
                        <div class="comment-body">
                            {{comment.content}}
                        </div>
                        <div class="date-comment">
                            {% if comment.updated %}
                                <span>updated</span><span>{{comment.date_updated}}</span>
                            {% else %}  
                                <span>{{comment.date_created}}</span>
                            {% endif %}
                        </div>
                    </div> 
                    {% endfor %}                                      
                                  

                </div>
            </div>
        </div>
        
            <div class="detail-article">
                <div class="head-article">
                    <div class="author-info">
                        <a href="{% url 'profile_user' article.author.username %}"><img src="{{article.author.profile.image.url}}" alt="" class="user-image">
                        {{article.author}}</a>
                        
                        {% if article.author.username|is_followed:user.username %}
                        
                            <button class="unfollow-btn btn-lg" data-index="{{article.author.username}}">Unfollow</button>
                            <button class="follow-btn btn-lg hidden" data-index="{{article.author.username}}">Follow</button>
                        {% else %}
                            <button class="follow-btn btn-lg" data-index="{{article.author.username}}">Follow</button>
                            <button class="unfollow-btn btn-lg hidden" data-index="{{article.author.username}}">Unfollow</button>
                        {% endif %}

                        
                    </div>
                    {% if user.username == article.author.username %}
                            <a href="#" class="update-article-btn">Blog <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg></a>
                    {% endif %}
                </div>
                <img src="{{article.image.url}}" alt="" class="img-detail">
                <p class="article-title">{{article.title}}</p>
                {% if article.introduction %}
                    <p class="mini-des-art">{{article.introduction}}</p>
                {% endif %}
                <div class="container-80">
                    {% for paragraph in article.paragraph_set.all %}
                    <div class="paragraph">
                        {% if paragraph.image %}
                            <img src="{{paragraph.image.url}}" alt="">
                        {% endif %}
                        <div class="para-t" id="para-{{article.slug}}{{paragraph.id}}"><div> </div> {{paragraph.title}}</div>
                        <p class="para-body">{{paragraph.content}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
        <div class="com"><a href="#info">comments</a></div>
        <button class="btn-para">Paragraphs</button>
    </div>

    <script>
        $(document).on("click",".btn-para",function(e){
            $(".prag-hub").removeClass("hidden-para");
        })
        $(document).on("click",".btn-hid-para",function(e){
            $(".prag-hub").addClass("hidden-para");
        })
    </script>
<script>
    $(document).on("click",".follow-btn",function(e){
        e.preventDefault();
        const username = $(this).data("index");
        const thisBtn = $(this);

        $.ajax({
            type : "POST",
            url : "{% url 'following_user' %}",
            data : {
                uname : username,
                csrfmiddlewaretoken : "{{csrf_token}}",
                action : "post"
            },
            success : function(res){
                thisBtn.addClass("hidden");
                $(".unfollow-btn").removeClass("hidden");
            },
            error : function(xhr , errmg ,err){
                console.log(err);
            }
        })
    });
    $(document).on("click",".unfollow-btn",function(e){
        e.preventDefault();
        const username = $(this).data("index");
        const thisBtn = $(this);

        $.ajax({
            type : "POST",
            url : "{% url 'unfollowing_user' %}",
            data : {
                uname : username,
                csrfmiddlewaretoken : "{{csrf_token}}",
                action : "post"
            },
            success : function(res){
                thisBtn.addClass("hidden");
                $(".follow-btn").removeClass("hidden");
            },
            error : function(xhr , errmg ,err){
                console.log(err);
            }
        })
    })
</script>

{% endblock content %}
    