{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
   
    <title>Django Blog</title>
    
</head>
<body>  
    
    <nav>
        <div class="nv-sm">
            <div class="menu-btn open"></div>
            <ul class="list-item sm-hidden">
                <li><a href="{% url 'home' %}" class="item">Home</a></li>
                <li><a href="#" class="item">Blogs</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="item danger">Logout</a></li>
                    <li><a href="{% url 'profile_user' user.username %}" class="item">Profile</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="item success">Login</a></li>
                {% endif %}
                <li><form action=""><input type="text"><button>search</button></form></li>
            </ul>
        </div>
        <div class="logo">DjBlog</div>
    </nav>
    <div class="nav-sm">
        <ul class="list-item">
                <li><a href="{% url 'home' %}" class="item">Home</a></li>
                <li><a href="#" class="item">Blogs</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile_user' user.username %}" class="item">Profile</a></li>
                    <li><a href="{% url 'logout' %}" class="item danger">Logout</a></li>
                {% else %}
                    <li><a href="#" class="item success">Login</a></li>
                {% endif %}
        </ul>
        <div class="list-item" style="margin-top: 4px;">
            <form action=""><input type="text"><button>search</button></form>
        </div>
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'new_blog' %}" class="new-blog-btn">Blog <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
        </a>
    {% endif %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
                <button class="close-message-btn" onclick="this.parentElement.style.display='none'" title="Close">&times;</button>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}
        
    {% endblock content %}
    
    <footer>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, commodi inventore in minima, id alias impedit voluptas earum eos magnam minus veritatis doloribus sequi, aspernatur adipisci corrupti dicta exercitationem magni?
    </footer>

    
    <script>
        $(document).on("click",".open",function(e){
            e.preventDefault();
            $(".nav-sm").addClass("h-60");
            $(this).addClass("close");
            $(this).removeClass("open");
        })
        $(document).on("click",".close",function(e){
            e.preventDefault();
            $(".nav-sm").removeClass("h-60");
            $(this).removeClass("close");
            $(this).addClass("open");
        })
        // Optional: jQuery close for fade out effect
        $(document).on('click', '.close-message-btn', function(){
            $(this).parent('.message').fadeOut(200);
        });
    </script>
</body>
</html>